includes:
	- base.neon

extensions:
	test: SixtyEightPublishers\DoctrineBridge\Tests\Fixtures\Extension\TargetEntityProviderExtension(
		SixtyEightPublishers\DoctrineBridge\Tests\Fixtures\Entity\EntityWithAttributesMapping
	)
