includes:
	- base.neon

extensions:
	test: SixtyEightPublishers\DoctrineBridge\Tests\Fixtures\Extension\TargetEntityProviderExtension(
		SixtyEightPublishers\DoctrineBridge\Tests\Fixtures\Entity\EntityWithAttributesMapping
	)

services:
	custom_resolve_target_entity_listener: Doctrine\ORM\Tools\ResolveTargetEntityListener
